@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Metronic.Themes.Metronic.Components
@model LanguageSwitchViewComponentModel
@if (Model.OtherLanguages.Any())
{
<div class="kt-header__topbar-item kt-header__topbar-item--langs">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
        <span class="kt-header__topbar-icon">
            <img class="" src="~/themes/metronic/media/flags/226-united-states.svg" alt="@Model.CurrentLanguage.DisplayName" />
        </span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
        <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
            @foreach (var language in Model.OtherLanguages)
            {
                if (language.CultureName == Model.CurrentLanguage.CultureName)
                {
                    <li class="kt-nav__item kt-nav__item--active">
                        <a href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><img src="~/themes/metronic/media/flags/226-united-states.svg" alt="@language.DisplayName" /></span>
                            <span class="kt-nav__link-text">@language.DisplayName</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="kt-nav__item">
                        <a href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))" class="kt-nav__link">
                            <span class="kt-nav__link-icon"><img src="~/themes/metronic/media/flags/226-united-states.svg" alt="@language.DisplayName" /></span>
                            <span class="kt-nav__link-text">@language.DisplayName</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
}
